.header{
    padding: 0 16px;
}
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
    }

        .logo{
            height: 1.125rem;
        }

        .bars{
            z-index: 10;
            height: 2rem;
        }
        

/*mobile landscape*/
@media (max-width: 768px) and (orientation: landscape){
    .logo{
        height: 1.5rem;
    }
    .bars{
        filter: invert(1) brightness(150%);
    }
}

/*Tablet*/
@media (min-width: 768px){
    .header{
        padding: 0 32px;
    }
        .nav{
            height: 3.5rem;
        }

            .logo{
                height: 2rem;
            }

            .bars{
                height: 2.5rem;
            }
}

/*Desktop*/
@media (min-width: 1024px){
    /*Nav*/
    .mobile--hidden{
        display: block;
    }

    .list{
        z-index: 10;
        display: flex;
        list-style: none;
    }
        .list__item{
            margin: 24px;
        }
            .item__link{
                height: 2rem;
                padding: .5rem;
                color: var(--white);
                font-size: 20px;
                font-weight: 500;
                border-radius: 20px;
            }
            
            .item__link--active{
                background-color: var(--white);
                color: var(--bluish-green);

            }
}
